@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/* google - fonts */

body {
    font-family: 'PT Sans', sans-serif !important;
    /* we use the tag 'important' because we use Bootstrap */
}

.form-add-task {
    display: flex;
    flex-direction: row;
    background-color: #e7e7fa7d;
    border-radius: 8px;
    padding: 32px;
}

.m-right {
    margin-right: 56px;
}

.add-user-icon img {
    object-fit: cover;
    height: 32px;
}