@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/* google - fonts */

body {
    font-family: 'PT Sans', sans-serif !important;
    /* we use the tag 'important' because we use Bootstrap */
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-add-task {
    display: flex;
    flex-direction: row;
    background-color: #e7e7fa7d;
    border-radius: 8px;
    padding: 32px;
}

.m-right {
    margin-right: 56px;
}

.add-user-icon img {
    object-fit: cover;
    height: 32px;
}

.btn-task {
    background-color: #1b2d91 !important;
    margin-left: 32px;
}

.btn-task:hover {
    transition: all 225ms ease-in-out;
    background-color: #bab5b5 !important;
    border-color: #bab5b5 !important;
    color: #1b2d91 !important;
}

.task-card {
    border: none !important;
   
}

.font-color label{
    color: #1b2d91;
}

.blue {
    color: #1b2d91;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.width-input {
    width: 256px !important;
}

.popup-bg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #817a7a4f;
}

.popup {
    background-color: white;
    border-radius: 8px;
    padding: 32px;
    position: relative;
    width: 380px;
    height: 208px;
}

.close-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

@media (max-width: 1000px) {
    
}