@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/* google - fonts */

body {
    font-family: 'PT Sans', sans-serif !important;
    /* we use the tag 'important' because we use Bootstrap */
}

.form-add-task {
    display: flex;
    flex-direction: row;
}

.m-right {
    margin-right: 56px;
}