@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/* google - fonts */


body {
    font-family: 'PT Sans', sans-serif !important;
    display: flex;
}

.hero {
    width: 79%;
    height: 85%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 79px;
    left: 200px;
}

#backlogCard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #ffffff;
    width: 100%;
    min-height: 82px;
    margin-top: 30px;
    border-radius: 10px;
    padding-top: 18px;
    text-align: center;
    background-color: #aeaeae;
    color: black;
    border-left: 16px solid;
    /* ist eine variable  */
    cursor: pointer;
    }

h3 {
    font-weight: 600!important;
    text-align: center;
    font-size: 25px !important;
}

