@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/* google - fonts */

body {
    font-family: 'PT Sans', sans-serif !important;
    /* we use the tag 'important' because we use Bootstrap */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  
}

.logo {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 130px;
    width: 130px;
    background-color: #1b2d91;
}

.logo img {
    width: 60px;
    height: 71px;
    object-fit: cover;
}

h1 {
    padding-top: 20px;
    font-weight: 600 !important;
}

.custom-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    position: relative;
}

.custom-input-icon {
    position: absolute;
    left: 6px;
    top: 5px
}

.custom-input input {
    outline: none;
    padding-left: 28px;
    width: 190px;
}

.custom-button {
    height: 60px;
    border-bottom: 1px solid #bebfc0;
}

.custom-button button {
    width: 190px;
}

.custom-button-2 {
    margin-top: 10px;
}

.custom-button-2 button {
    width: 190px;
}


a {
    margin-top: 20px;
    text-align: center;
    text-decoration: none !important;
    color: #1b2d91 !important;
}

.login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#e7e7fa7d;
    width: 240px;
    height: 300px;
    border-radius: 10px;
}

.footer {
    bottom: 0;
    position: absolute;
    margin-bottom: 30px;
}

.footer a {
    padding-right: 10px;
    color: black;
}

img {
    height: 16px;
    width: 16px;
    object-fit: cover;
}

.new-account {
    position: relative;
    height: 324px !important;
}

.user-icon {
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 38px;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border: 4px solid #1b2d91;
}

.user-icon img {
    object-fit: cover;
    height: 56px;
    width: 56px;
}

input {
    border: 1px solid transparent;
}

.input-picture {
    display: none;
}

.picture-upload {
    position: absolute;
    top: 108px;
    right: 0;
    left: 74px;
    z-index: 3;
}

.picture-upload img {
    object-fit: cover;
    height: 32px;
    width: 32px;
}

.picture-upload:hover {
    cursor: pointer;
}

.output {
    width: 101px;
    height: 101px;
    margin-bottom: 8px;
    border-radius: 100%;
    z-index: 2;
}

.upload-input {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn-new-account {
    border-bottom: none !important;
}

.button-blue {
    background-color: #1b2d91 !important;
}

.alert-btn {
    border: none;
    background-color: transparent;
    color: grey;
}

.alert-btn:hover {
    color: black;
}