@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/* google - fonts */

body {
    font-family: 'PT Sans', sans-serif !important;
    /* we use the tag 'important' because we use Bootstrap */
    margin: 0 auto;
    height: 100%;
    display: flex;
}

.menu-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 150px;
    background-color: #1b2d91;
}

.sidebar {
    width: 100%;
}

.logo {
    position: absolute;
    position: absolute;
    top: 32px;
    left: 45px;
    right: 45px;
}

.menu {
    margin-top: 144px;
    width: 100%;
}
.menu-btn {
    margin-bottom: 16px;
    width: 100%;
    text-align: center;
}

.costum-nav img {
    height: 103px;
    width: 60px;
    object-fit: cover;
    padding-top: 30px;
}

.costum-nav a {
    padding-top: 20px;
    text-decoration: none;
    color: rgb(215 215 215);
    font-size: 18px;
}

.costum-nav a:hover {
    color: white; 
}

.menu-btn:hover{
    color: white;
    border-left: 4px solid white;
    transition: all 225ms ease-in-out;
}

.costum-padding {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.profile_img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    margin-bottom: 30px;
}

.profile_img img {
    width: 54px;
    height: 54px;
    object-fit: contain;
}

.navbar_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar_footer a {
    text-decoration: none;
    padding: 10px;
    color: rgb(215 215 215);
    font-size: 18px;
}

.navbar_footer a:hover {
    color: white;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}

.nav-bar-responsiv {
    display: none;
  

}


@media (max-width: 1000px) {

.menu-bar {
    display: none;
    align-items: center;

}
.nav-bar-responsiv {
    display: block;
    width: 100%;
    position: fixed !important;
    background-color: #1b2d91;
    height: 100px;
    z-index: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.menu-mobile-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-mobile {
    margin: 16px;
}

.logo-mobile img {
    object-fit: cover;
    width: 48px;
}

.circle-user {
    height: 72px;
    width: 72px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.circle-user img {
    object-fit: cover;
    height: 50px;
}

.burger-icon {
    margin: 16px;
}

.burger-icon img {
    object-fit: cover;
    width: 48px;
}

.menu-mobile {
    cursor: pointer;
}


.overlay-menu {
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 390px;
    height: 100vh;
    border-left: 1px solid #e9ecef;;
    transform: translateX(501px);
    transition: all 225ms ease-in-out;
   
}

.overlay-menu a {
    text-decoration: none;
    color: #1b2d91;
}

.show-overlay-menu {
    transform: translateX(0);
}

.close-button {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 56px;
    height: 32px;
    background-color: lightgray;
    border-radius: 8px;
    border-color: transparent;
    outline: none;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
}

.close-button:hover {
    background-color: #1b2d91;
    color: white;
    transition: all 225ms ease-in-out;
}

.menu-link-mobile {
    display: flex;
    align-items: center;
    height: 32px;
    margin-left: 50px;
    margin-top: 24px; 
    cursor: pointer; 
    font-size: 20px; 
}

.menu-link-mobile a {
    transform: scale(1);
    transition: all 225ms ease-in-out;
}

.menu-link-mobile a:hover {
    color: white;
    transform: scale(1.5);
    transition: all 225ms ease-in-out;
    color: #1b2d91;
}

}