@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/* google - fonts */

body {
    font-family: 'PT Sans', sans-serif !important;
    /* we use the tag 'important' because we use Bootstrap */
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-container {
    margin-left: 160px;
    width: 80%;
}

.upload-box {
    display: flex;
    flex-direction: column;
    background-color: #e7e7fa7d;
    border-radius: 8px;
    padding: 32px;
    align-items: center;
}

.font-color-blue {
    color: #1b2d91;
}

.profile-picture {
    border-radius: 100%;
    background-color: white;
    height: 92px;
    width: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #1b2d91;
}
.profile-picture img {
    object-fit: cover;
    height: 64px;
    width: 64px;
}

@media (max-width: 1000px) {
    body {
        justify-content: unset;
        align-items: unset;
    }

    .upload-container {
        margin-left: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: -100px;
    }   
}